// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-post-form-container{
	
    width: 75%;
    min-width: 360px;
    text-align: center;
    margin: 0 auto;

    label{
    	display: block;
    }

    textarea, input[type="submit"]{
    	display: block;
    	margin: 0 auto;
    }

    textarea{
    	width: 85%;
    	min-width: 360px;
    }

    input[type="submit"]{
	    margin: 10px auto;
	    border: none;
	    color: white;
	    background-color: #5b5bfa;
    }
}

#posts-list-container{

	width: 75%;
	min-width: 360px;
	margin: 0 auto;
	
	#posts-list{
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		.post{
			.post-content{
				display: flex;
				justify-content: space-between;
				border-bottom: 1px solid grey;
				font-size: 0.9rem;

				.post-destroy-link a{
					text-decoration: none;
					color: red;
				}
			}
		}

	}
}









